.contentCards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dark-mode{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.header{
  position: sticky;
  top: 0;
  z-index: 100;
}
  .fa-bars{
    font-size: 2em;
  }
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50%;
}
#myChart{
  min-height: 250px;
}

  .fa-square ,.fa-circle-check{
    font-size: 12em;
  }

  